rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: if true;  // Pozwól na publiczne odczytywanie
      allow write: if request.auth != null;  // Wymagaj autoryzacji do zapisu
    }
  }
}