/* App.css */

/* Globalne style */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}

/* Styl główny dla aplikacji */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Styl nagłówka */
.App-header {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 20px;
}


.App-header h1 {
  margin: 0;
  font-size: 2.5em;
}

/* Styl galerii */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 20px;
}

.gallery-item {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}

.gallery-item:hover {
  transform: scale(1.05);
}

/* Styl stopki */
.App-footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}

.App-footer p {
  margin: 0;
}



/* src/App.css
.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  background-color: #4CAF50;
  padding: 20px;
  color: white;
}

footer {
  background-color: #222;
  padding: 10px;
  color: white;
}

.gallery {
  padding: 20px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.gallery-item {
  background-color: #f4f4f4;
  padding: 20px;
  border: 1px solid #ccc;
} */



/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */