.alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    transition: opacity 0.5s ease;
}

/* Ciemny motyw */
@media (prefers-color-scheme: dark) {
    .alert {
        background-color: #388E3C;
        color: white;
    }
}